<%- layout ('layout/main') %>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="">Cambio de contraseña</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-3">
                            <div class="form-group">
                                <p><b>Longitud igual o superior a 8 carácteres.</b></p>
                            </div>
                            <div class="form-group">
                                <label for="email">Contraseña <b>*</b></label>
                                <input type="password" class="form-control" id="passChangedForm">
                                <div id="passChangedFormError" class="errorField"></div>
                            </div>
                            <div class="form-group">
                                <label for="email">Confirmar Contraseña <b>*</b></label>
                                <input type="password" class="form-control" id="confirmPassChangedForm">
                                <div id="confirmPassChangedFormError" class="errorField"></div>
                            </div>
                            <div class="form-group">
                                <input type="button" value="Cambiar Contraseña" data-userid="<%=user._id%>" class="btn btn-primary btn-block" id="passChangeButton">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>