<%- layout ('layout/main') %>
<div class="container mt-3">
    <% if (user.passChanged === false) { %>
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <h5>Parece que es la primera vez que accede al sistema, pulse <a href="/changePass">aquí</a> para cambiar su contraseña.</h5>
        </div>
    </div>
    <% } %>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <!--<img class="card-img-top" src="..." alt="Card image cap"> -->
                <div class="card-body">
                    <h5 class="card-title">Tickets</h5>
                    <p class="card-text">Desde este apartado podra acceder al listado de tickets para eliminar, crear o modificar los tickets existentes.</p>
                    <a href="/tickets" class="btn btn-primary">Acceder tickets</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <!--<img class="card-img-top" src="..." alt="Card image cap"> -->
                <div class="card-body">
                    <h5 class="card-title">Lista Activa</h5>
                    <p class="card-text">Accede a las listas para añadir productos al ticket activo.</p>
                    <a href="#" class="btn btn-primary">Acceder lista</a>
                </div>
            </div>
        </div>
    </div>
</div>