<%- layout ('layout/main') %>
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    Contenidos
                </div>
                <div class="card-body">
                    <p>Listado de dependencias utilizado para la creación de este login.</p>
                    <ul>
                        <li><a href="https://www.npmjs.com/package/express" target="_blank" rel="noopener noreferrer">Express Framework</a></li>
                        <li><a href="https://www.mongodb.com/cloud/atlas/lp/general?utm_content=081118_LP_Control_1&jmp=search&utm_source=google&utm_campaign=EMEA-Spain-MongoDB-to-Atlas-Brand-Alpha&utm_keyword=mongodb&utm_device=c&utm_network=g&utm_medium=cpc&utm_creative=257481955366&utm_matchtype=e&_bt=257481955366&_bk=mongodb&_bm=e&_bn=g&gclid=Cj0KCQjw_vfcBRDJARIsAJafEnFyssl1EODFeRRnSbGYDz6bqCDFGkTAEhk976PE6ztoQL_373o4WSkaAsddEALw_wcB" target="_blank" rel="noopener noreferrer">MongoDB</a></li>
                        <li><a href="https://www.npmjs.com/package/mongoose" target="_blank" rel="noopener noreferrer">Mongoose</a></li>
                        <li><a href="https://www.npmjs.com/package/ejs-mate" target="_blank" rel="noopener noreferrer">EJS</a></li>
                        <li><a href="https://www.npmjs.com/package/passport" target="_blank" rel="noopener noreferrer">Passport JS</a></li>
                        <li><a href="https://www.npmjs.com/package/express-session" target="_blank" rel="noopener noreferrer">Express-Session</a></li>
                        <li><a href="https://www.npmjs.com/package/connect-flash" target="_blank" rel="noopener noreferrer">Connect-Flash</a></li>
                        <li><a href="https://www.npmjs.com/package/morgan" target="_blank" rel="noopener noreferrer">Morgan</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>