.is-valid{
    border: 1.5 px solid green;
}

.is-invalid{
    border: 1 px solid red;
}
.borderError {
    border: 2px solid darkred;
}

.opn{
    border-top: 10px solid green;
}
.cls{
    border-top: 10px solid red;
}